In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("BLI.csv")

In [4]:
df

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.3,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.4,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.8,NaN,NaN
4,CZE,Czechia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,CRI,Costa Rica,PS_REPH,Homicide rate,L,Value,MN,Men,RATIO,Ratio,0,Units,NaN,NaN,18.2,NaN,NaN
2365,CRI,Costa Rica,PS_REPH,Homicide rate,L,Value,WMN,Women,RATIO,Ratio,0,Units,NaN,NaN,1.8,NaN,NaN
2366,CRI,Costa Rica,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,22.0,NaN,NaN
2367,CRI,Costa Rica,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,27.9,NaN,NaN
2368,CRI,Costa Rica,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,12.7,NaN,NaN

In [5]:
satisfaction_df = df[df['INDICATOR'] == 'SW_LIFS']

In [6]:
satisfaction_df

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
1722,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
1723,AUT,Austria,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
1724,BEL,Belgium,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
1725,CAN,Canada,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
1726,CZE,Czechia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.3,NaN,NaN
2359,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,MN,Men,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
2360,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,WMN,Women,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
2361,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,HGH,High,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
2362,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,LW,Low,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN

In [7]:
satisfaction_df = satisfaction_df[satisfaction_df['INEQUALITY'] == 'TOT']

In [8]:
satisfaction_df

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
1722,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
1723,AUT,Austria,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
1724,BEL,Belgium,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
1725,CAN,Canada,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
1726,CZE,Czechia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.9,NaN,NaN
1727,DNK,Denmark,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
1728,FIN,Finland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.9,NaN,NaN
1729,FRA,France,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
1730,DEU,Germany,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
1731,GRC,Greece,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
1732,HUN,Hungary,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
1733,ISL,Iceland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.6,NaN,NaN
1734,IRL,Ireland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
1735,ITA,Italy,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
1736,JPN,Japan,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
1737,KOR,Korea,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
1738,LUX,Luxembourg,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.4,NaN,NaN
1739,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
1740,NLD,Netherlands,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
1741,NZL,New Zealand,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
1742,NOR,Norway,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
1743,POL,Poland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
1744,PRT,Portugal,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
1745,SVK,Slovak Republic,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
1746,ESP,Spain,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
1747,SWE,Sweden,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
1748,CHE,Switzerland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
1749,TUR,Türkiye,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
1750,GBR,United Kingdom,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
1751,USA,United States,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
1752,BRA,Brazil,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
1753,CHL,Chile,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
1754,EST,Estonia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
1755,ISR,Israel,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
1756,LVA,Latvia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
1757,RUS,Russia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.5,NaN,NaN
1758,SVN,Slovenia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
1759,ZAF,South Africa,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
1760,OECD,OECD - Total,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
2298,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.7,NaN,NaN
2299,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.4,NaN,NaN
2358,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.3,NaN,NaN

In [10]:
satisfaction_df.to_csv('Filtered_BLI.csv', index=False)

In [17]:
df = pd.read_csv("PIB.csv")

In [12]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,GDP,TOT,USD_CAP,A,2018,53118.792237,NaN
1,AUS,GDP,TOT,USD_CAP,A,2019,52921.968891,NaN
2,AUS,GDP,TOT,USD_CAP,A,2020,56000.130076,NaN
3,AUS,GDP,TOT,USD_CAP,A,2021,62745.388207,NaN
4,AUS,GDP,TOT,USD_CAP,A,2022,69418.944207,NaN
...,...,...,...,...,...,...,...,...
299,CMR,GDP,TOT,USD_CAP,A,2019,3900.880855,NaN
300,CMR,GDP,TOT,USD_CAP,A,2020,3861.209890,NaN
301,SEN,GDP,TOT,USD_CAP,A,2018,3416.171427,NaN
302,SEN,GDP,TOT,USD_CAP,A,2019,3530.096494,NaN
303,SEN,GDP,TOT,USD_CAP,A,2020,3513.149951,NaN

In [19]:
df = df[df['TIME'] == 2020]

In [20]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
2,AUS,GDP,TOT,USD_CAP,A,2020,56000.130076,NaN
7,AUT,GDP,TOT,USD_CAP,A,2020,57235.673886,NaN
12,BEL,GDP,TOT,USD_CAP,A,2020,54652.164337,NaN
17,CAN,GDP,TOT,USD_CAP,A,2020,47226.357276,NaN
22,CZE,GDP,TOT,USD_CAP,A,2020,42817.867499,NaN
...,...,...,...,...,...,...,...,...
289,ALB,GDP,TOT,USD_CAP,A,2020,14033.967211,P
292,SRB,GDP,TOT,USD_CAP,A,2020,19547.725670,NaN
296,GEO,GDP,TOT,USD_CAP,A,2020,14731.202573,NaN
300,CMR,GDP,TOT,USD_CAP,A,2020,3861.209890,NaN
303,SEN,GDP,TOT,USD_CAP,A,2020,3513.149951,NaN

In [22]:
df.to_csv('Filtered_GPD.csv', index=False)

In [23]:
df = df[['LOCATION', 'Value']]

In [24]:
df

    LOCATION         Value
2        AUS  56000.130076
7        AUT  57235.673886
12       BEL  54652.164337
17       CAN  47226.357276
22       CZE  42817.867499
..       ...           ...
289      ALB  14033.967211
292      SRB  19547.725670
296      GEO  14731.202573
300      CMR   3861.209890
303      SEN   3513.149951

[66 rows x 2 columns]

In [28]:
df.to_csv('Filtered_GPD.csv', index=False)

In [27]:
df = df.rename(columns={'Value': 'GPD'})

In [29]:
df = pd.read_csv('Filtered_BLI.csv')

In [30]:
df

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
1,AUT,Austria,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
2,BEL,Belgium,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
3,CAN,Canada,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
4,CZE,Czechia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.9,NaN,NaN
5,DNK,Denmark,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
6,FIN,Finland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.9,NaN,NaN
7,FRA,France,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
8,DEU,Germany,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
9,GRC,Greece,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
10,HUN,Hungary,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
11,ISL,Iceland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.6,NaN,NaN
12,IRL,Ireland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
13,ITA,Italy,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
14,JPN,Japan,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
15,KOR,Korea,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
16,LUX,Luxembourg,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.4,NaN,NaN
17,MEX,Mexico,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.0,NaN,NaN
18,NLD,Netherlands,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
19,NZL,New Zealand,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
20,NOR,Norway,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
21,POL,Poland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
22,PRT,Portugal,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.8,NaN,NaN
23,SVK,Slovak Republic,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
24,ESP,Spain,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
25,SWE,Sweden,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
26,CHE,Switzerland,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.5,NaN,NaN
27,TUR,Türkiye,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
28,GBR,United Kingdom,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.8,NaN,NaN
29,USA,United States,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.0,NaN,NaN
30,BRA,Brazil,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.1,NaN,NaN
31,CHL,Chile,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
32,EST,Estonia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
33,ISR,Israel,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.2,NaN,NaN
34,LVA,Latvia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.2,NaN,NaN
35,RUS,Russia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.5,NaN,NaN
36,SVN,Slovenia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.5,NaN,NaN
37,ZAF,South Africa,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,4.9,NaN,NaN
38,OECD,OECD - Total,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN
39,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.7,NaN,NaN
40,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.4,NaN,NaN
41,CRI,Costa Rica,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.3,NaN,NaN

In [31]:
df = df[['LOCATION', 'Value']]

In [32]:
df

   LOCATION  Value
0       AUS    7.1
1       AUT    7.2
2       BEL    6.8
3       CAN    7.0
4       CZE    6.9
5       DNK    7.5
6       FIN    7.9
7       FRA    6.7
8       DEU    7.3
9       GRC    5.8
10      HUN    6.0
11      ISL    7.6
12      IRL    7.0
13      ITA    6.5
14      JPN    6.1
15      KOR    5.8
16      LUX    7.4
17      MEX    6.0
18      NLD    7.5
19      NZL    7.3
20      NOR    7.3
21      POL    6.1
22      PRT    5.8
23      SVK    6.5
24      ESP    6.5
25      SWE    7.3
26      CHE    7.5
27      TUR    4.9
28      GBR    6.8
29      USA    7.0
30      BRA    6.1
31      CHL    6.2
32      EST    6.5
33      ISR    7.2
34      LVA    6.2
35      RUS    5.5
36      SVN    6.5
37      ZAF    4.9
38     OECD    6.7
39      COL    5.7
40      LTU    6.4
41      CRI    6.3

In [34]:
df = df.rename(columns={'Value': 'BLI'})

In [35]:
df

   LOCATION  BLI
0       AUS  7.1
1       AUT  7.2
2       BEL  6.8
3       CAN  7.0
4       CZE  6.9
5       DNK  7.5
6       FIN  7.9
7       FRA  6.7
8       DEU  7.3
9       GRC  5.8
10      HUN  6.0
11      ISL  7.6
12      IRL  7.0
13      ITA  6.5
14      JPN  6.1
15      KOR  5.8
16      LUX  7.4
17      MEX  6.0
18      NLD  7.5
19      NZL  7.3
20      NOR  7.3
21      POL  6.1
22      PRT  5.8
23      SVK  6.5
24      ESP  6.5
25      SWE  7.3
26      CHE  7.5
27      TUR  4.9
28      GBR  6.8
29      USA  7.0
30      BRA  6.1
31      CHL  6.2
32      EST  6.5
33      ISR  7.2
34      LVA  6.2
35      RUS  5.5
36      SVN  6.5
37      ZAF  4.9
38     OECD  6.7
39      COL  5.7
40      LTU  6.4
41      CRI  6.3

In [36]:
df.to_csv('Filtered_BLI.csv', index=None)

In [38]:
GPD = pd.read_csv('Filtered_GPD.csv')
BLI = pd.read_csv('Filtered_BLI.csv')

In [40]:
GPD

   LOCATION           GPD
0       AUS  56000.130076
1       AUT  57235.673886
2       BEL  54652.164337
3       CAN  47226.357276
4       CZE  42817.867499
..      ...           ...
61      ALB  14033.967211
62      SRB  19547.725670
63      GEO  14731.202573
64      CMR   3861.209890
65      SEN   3513.149951

[66 rows x 2 columns]

In [41]:
BLI

   LOCATION  BLI
0       AUS  7.1
1       AUT  7.2
2       BEL  6.8
3       CAN  7.0
4       CZE  6.9
5       DNK  7.5
6       FIN  7.9
7       FRA  6.7
8       DEU  7.3
9       GRC  5.8
10      HUN  6.0
11      ISL  7.6
12      IRL  7.0
13      ITA  6.5
14      JPN  6.1
15      KOR  5.8
16      LUX  7.4
17      MEX  6.0
18      NLD  7.5
19      NZL  7.3
20      NOR  7.3
21      POL  6.1
22      PRT  5.8
23      SVK  6.5
24      ESP  6.5
25      SWE  7.3
26      CHE  7.5
27      TUR  4.9
28      GBR  6.8
29      USA  7.0
30      BRA  6.1
31      CHL  6.2
32      EST  6.5
33      ISR  7.2
34      LVA  6.2
35      RUS  5.5
36      SVN  6.5
37      ZAF  4.9
38     OECD  6.7
39      COL  5.7
40      LTU  6.4
41      CRI  6.3

In [42]:
df = pd.merge(BLI, GPD, how='inner', on='LOCATION')

In [43]:
df

   LOCATION  BLI            GPD
0       AUS  7.1   56000.130076
1       AUT  7.2   57235.673886
2       BEL  6.8   54652.164337
3       CAN  7.0   47226.357276
4       CZE  6.9   42817.867499
5       DNK  7.5   60768.060489
6       FIN  7.9   52294.342491
7       FRA  6.7   47982.359606
8       DEU  7.3   56454.181109
9       GRC  5.8   28349.491127
10      HUN  6.0   34169.922355
11      ISL  7.6   54330.385248
12      IRL  7.0   94646.640757
13      ITA  6.5   43150.115981
14      JPN  6.1   41867.153393
15      KOR  5.8   44694.939796
16      LUX  7.4  119407.898814
17      MEX  6.0   18978.937139
18      NLD  7.5   59821.266235
19      NZL  7.3   45457.178769
20      NOR  7.3   65135.920669
21      POL  6.1   34896.822600
22      PRT  5.8   34955.611560
23      SVK  6.5   32912.709886
24      ESP  6.5   38030.728528
25      SWE  7.3   56140.551353
26      CHE  7.5   71010.450577
27      TUR  4.9   27973.899303
28      GBR  6.8   45756.801675
29      USA  7.0   63480.861222
30      BRA  6.1   15173.607426
31      CHL  6.2   24738.720579
32      EST  6.5   39460.614767
33      ISR  7.2   40073.058669
34      LVA  6.2   32810.267063
35      RUS  5.5   29819.046969
36      SVN  6.5   40885.506120
37      ZAF  4.9   13716.632593
38     OECD  6.7   45378.713391
39      COL  5.7   15614.989482
40      LTU  6.4   40211.863803
41      CRI  6.3   21755.528069

In [44]:
df.to_csv('Data_for_training.csv')